@import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px);

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  height: 100vh;
  cursor: pointer;
}

span {
  content: ":p";
  position: absolute;
}
